.about {
  margin-top: 10vw;
  padding: 3em;
  width: 100%;
  box-shadow: 16.6px 23.1px 13.1px rgba(42, 45, 33, 0.3);
  background: url('../img/pngegg.png')no-repeat center;
  border-radius: 12px;
}

.bio {
  align-items: center;
  justify-content: center;
  margin-left: 6.6em;
  font-size: 3em;
}
#photo{
  width: 10vw;
  display: flex;
  float: right;
  margin-right: -18vw;
  margin-top: -8vw;
  border-radius: 10%;
  z-index: 2;
  opacity: 2;
  transform: translate(-20%, -10%);
 
}

.shape {
   
  float: right;
  margin-top: -11vw;
  margin-right: 11vw;
  display: flex;
  z-index: 1;
  opacity: 0.8;
  width: 20vw;
  height: 16vw;
  transform: skewY(20deg);
  background: url('../img/pngegg.png')no-repeat center; 
  border-radius: 12px;
  box-shadow: 16.6px 23.1px 13.1px rgba(42, 45, 33, 0.3);
  clip-path: polygon(95.5% 50%, 95.4808% 50.2446%, 95.4231% 50.4864%, 95.3274% 50.7227%, 95.1941% 50.9507%, 95.0239% 51.1678%, 94.8178% 51.3713%, 94.5767% 51.5588%, 94.3021% 51.7277%, 93.9954% 51.8758%, 93.6582% 52.0007%, 93.2924% 52.1005%, 92.8999% 52.1731%, 92.4828% 52.2168%, 92.0434% 52.23%, 91.5839% 52.2112%, 91.107% 52.159%, 90.615% 52.0726%, 90.1106% 51.9508%, 89.5966% 51.7932%, 89.0755% 51.5992%, 88.5503% 51.3685%, 88.0235% 51.101%, 87.4981% 50.797%, 86.9767% 50.4568%, 86.4621% 50.0809%, 85.9569% 49.6702%, 85.4637% 49.2255%, 84.985% 48.748%, 84.5232% 48.2392%, 84.0808% 47.7005%, 83.6597% 47.1336%, 83.2622% 46.5404%, 82.8902% 45.9229%, 82.5453% 45.2833%, 82.2291% 44.6238%, 81.9432% 43.9469%, 81.6887% 43.255%, 81.4667% 42.5507%, 81.2779% 41.8367%, 81.1232% 41.1158%, 81.0028% 40.3905%, 80.917% 39.6638%, 80.8658% 38.9385%, 80.8491% 38.2172%, 80.8664% 37.5029%, 80.9171% 36.7981%, 81.0005% 36.1057%, 81.1155% 35.4281%, 81.2609% 34.768%, 81.4353% 34.1277%, 81.6372% 33.5097%, 81.8648% 32.916%, 82.1163% 32.3487%, 82.3895% 31.8099%, 82.6824% 31.3011%, 82.9925% 30.824%, 83.3175% 30.3801%, 83.6549% 29.9705%, 84.002% 29.5963%, 84.3562% 29.2583%, 84.7148% 28.9571%, 85.075% 28.6932%, 85.4339% 28.4668%, 85.7889% 28.278%, 86.1371% 28.1264%, 86.4757% 28.0117%, 86.8021% 27.9332%, 87.1135% 27.8903%, 87.4074% 27.8818%, 87.6813% 27.9065%, 87.9326% 27.963%, 88.1592% 28.0499%, 88.3588% 28.1652%, 88.5294% 28.3072%, 88.6692% 28.4738%, 88.7763% 28.6628%, 88.8492% 28.8718%, 88.8866% 29.0986%, 88.8873% 29.3406%, 88.8501% 29.5951%, 88.7745% 29.8596%, 88.6596% 30.1313%, 88.5053% 30.4074%, 88.3112% 30.6853%, 88.0774% 30.9621%, 87.8041% 31.235%, 87.4918% 31.5013%, 87.1412% 31.7584%, 86.7531% 32.0035%, 86.3285% 32.2342%, 85.8687% 32.4478%, 85.3751% 32.6422%, 84.8493% 32.8149%, 84.2932% 32.9639%, 83.7085% 33.0871%, 83.0974% 33.1827%, 82.4622% 33.2491%, 81.805% 33.2846%, 81.1285% 33.2881%, 80.435% 33.2582%, 79.7273% 33.1942%, 79.0079% 33.0952%, 78.2797% 32.9606%, 77.5453% 32.7902%, 76.8077% 32.5838%, 76.0694% 32.3415%, 75.3334% 32.0635%, 74.6024% 31.7504%, 73.879% 31.4029%, 73.1659% 31.0218%, 72.4657% 30.6083%, 71.7808% 30.1637%, 71.1136% 29.6894%, 70.4665% 29.187%, 69.8414% 28.6584%, 69.2404% 28.1055%, 68.6654% 27.5305%, 68.1179% 26.9356%, 67.5996% 26.3231%, 67.1116% 25.6955%, 66.6552% 25.0553%, 66.2313% 24.4053%, 65.8407% 23.748%, 65.4837% 23.0863%, 65.1609% 22.4228%, 64.8722% 21.7605%, 64.6176% 21.102%, 64.3969% 20.4502%, 64.2094% 19.8078%, 64.0545% 19.1774%, 63.9313% 18.5618%, 63.8386% 17.9634%, 63.7752% 17.3848%, 63.7396% 16.8283%, 63.7301% 16.2961%, 63.7449% 15.7904%, 63.7821% 15.313%, 63.8396% 14.8659%, 63.9151% 14.4506%, 64.0063% 14.0686%, 64.1107% 13.7212%, 64.2258% 13.4096%, 64.349% 13.1345%, 64.4776% 12.8968%, 64.6088% 12.6968%, 64.74% 12.5349%, 64.8683% 12.4111%, 64.9911% 12.3254%, 65.1056% 12.2774%, 65.209% 12.2665%, 65.2988% 12.2919%, 65.3723% 12.3528%, 65.427% 12.4479%, 65.4606% 12.576%, 65.4707% 12.7355%, 65.4551% 12.9248%, 65.4118% 13.1419%, 65.339% 13.3849%, 65.2348% 13.6516%, 65.0976% 13.9398%, 64.9262% 14.2471%, 64.7192% 14.571%, 64.4757% 14.909%, 64.1948% 15.2583%, 63.8759% 15.6164%, 63.5185% 15.9804%, 63.1226% 16.3476%, 62.688% 16.7152%, 62.2151% 17.0804%, 61.7041% 17.4405%, 61.1558% 17.7928%, 60.571% 18.1346%, 59.9507% 18.4632%, 59.2962% 18.7763%, 58.6088% 19.0714%, 57.8902% 19.346%, 57.1421% 19.5982%, 56.3665% 19.8258%, 55.5654% 20.027%, 54.741% 20.1999%, 53.8957% 20.343%, 53.032% 20.4549%, 52.1523% 20.5345%, 51.2594% 20.5806%, 50.3559% 20.5924%, 49.4446% 20.5694%, 48.5283% 20.5111%, 47.6098% 20.4174%, 46.692% 20.2881%, 45.7778% 20.1236%, 44.8698% 19.9242%, 43.9709% 19.6906%, 43.0838% 19.4236%, 42.2111% 19.1243%, 41.3555% 18.7938%, 40.5193% 18.4336%, 39.7049% 18.0452%, 38.9146% 17.6304%, 38.1504% 17.1911%, 37.4142% 16.7294%, 36.708% 16.2474%, 36.0332% 15.7476%, 35.3913% 15.2322%, 34.7835% 14.7038%, 34.211% 14.165%, 33.6745% 13.6186%, 33.1747% 13.0671%, 32.7121% 12.5135%, 32.2869% 11.9604%, 31.8992% 11.4106%, 31.5487% 10.8669%, 31.2351% 10.3322%, 30.9578% 9.80898%, 30.716% 9.30001%, 30.5087% 8.80785%, 30.3348% 8.33498%, 30.1928% 7.8838%, 30.0812% 7.45658%, 29.9984% 7.05546%, 29.9425% 6.68246%, 29.9114% 6.33943%, 29.9031% 6.02807%, 29.9152% 5.74989%, 29.9455% 5.50625%, 29.9914% 5.29829%, 30.0504% 5.12698%, 30.1199% 4.99307%, 30.1972% 4.89714%, 30.2798% 4.83952%, 30.3648% 4.82035%, 30.4495% 4.83958%, 30.5314% 4.89692%, 30.6076% 4.99188%, 30.6756% 5.12377%, 30.7328% 5.29171%, 30.7768% 5.4946%, 30.8051% 5.73116%, 30.8155% 5.99993%, 30.8058% 6.29928%, 30.7739% 6.6274%, 30.718% 6.98235%, 30.6362% 7.36201%, 30.5271% 7.76416%, 30.3891% 8.18646%, 30.2211% 8.62643%, 30.0221% 9.08155%, 29.7911% 9.54917%, 29.5275% 10.0266%, 29.231% 10.5111%, 28.9012% 11%, 28.5381% 11.4904%, 28.142% 11.9795%, 27.7131% 12.4647%, 27.2522% 12.9431%, 26.76% 13.4121%, 26.2376% 13.869%, 25.6861% 14.3113%, 25.1069% 14.7365%, 24.5016% 15.1423%, 23.872% 15.5265%, 23.2199% 15.8869%, 22.5474% 16.2217%, 21.8567% 16.5289%, 21.1502% 16.807%, 20.4303% 17.0545%, 19.6995% 17.27%, 18.9606% 17.4527%, 18.2161% 17.6014%, 17.4689% 17.7156%, 16.7218% 17.7947%, 15.9776% 17.8385%, 15.2393% 17.8469%, 14.5096% 17.82%, 13.7915% 17.7582%, 13.0876% 17.662%, 12.4008% 17.5322%, 11.7337% 17.3698%, 11.089% 17.1759%, 10.4691% 16.9518%, 9.87658% 16.6991%, 9.31356% 16.4195%, 8.78225% 16.1147%, 8.28464% 15.7869%, 7.82258% 15.4381%, 7.39775% 15.0706%, 7.01165% 14.6869%, 6.66559% 14.2893%, 6.3607% 13.8806%, 6.0979% 13.4632%, 5.87793% 13.0399%, 5.70129% 12.6135%, 5.56829% 12.1868%, 5.47903% 11.7624%, 5.43341% 11.3433%, 5.43108% 10.9321%, 5.47153% 10.5315%, 5.55402% 10.1443%, 5.67762% 9.77301%, 5.84118% 9.42017%, 6.04341% 9.08819%, 6.28279% 8.77939%, 6.55767% 8.49594%, 6.86621% 8.23991%, 7.20644% 8.01318%, 7.57624% 7.81752%, 7.97335% 7.65449%, 8.39543% 7.52549%, 8.84001% 7.43173%, 9.30455% 7.37425%, 9.78643% 7.35385%, 10.283% 7.37117%, 10.7915% 7.42661%, 11.3092% 7.52038%, 11.8334% 7.65248%, 12.3613% 7.8227%, 12.8902% 8.03061%, 13.4175% 8.27559%, 13.9404% 8.5568%, 14.4565% 8.87321%, 14.9632% 9.22361%, 15.4582% 9.60659%, 15.9393% 10.0206%, 16.4041% 10.4638%, 16.8509% 10.9343%, 17.2776% 11.4301%, 17.6826% 11.949%, 18.0643% 12.4887%, 18.4215% 13.0467%, 18.7528% 13.6205%, 19.0574% 14.2076%, 19.3344% 14.8051%, 19.5833% 15.4105%, 19.8036% 16.0209%, 19.9952% 16.6336%, 20.1582% 17.2457%, 20.2927% 17.8546%, 20.3993% 18.4574%, 20.4785% 19.0514%, 20.5312% 19.634%, 20.5585% 20.2026%, 20.5616% 20.7547%, 20.5419% 21.288%, 20.501% 21.8%, 20.4406% 22.2888%, 20.3627% 22.7522%, 20.2694% 23.1884%, 20.1627% 23.5958%, 20.045% 23.9727%, 19.9187% 24.3179%, 19.7863% 24.6302%, 19.6504% 24.9086%, 19.5136% 25.1523%, 19.3785% 25.3609%, 19.2481% 25.5339%, 19.1248% 25.6711%, 19.0116% 25.7728%, 18.911% 25.839%, 18.8258% 25.8704%, 18.7587% 25.8675%, 18.7122% 25.8314%, 18.6887% 25.763%, 18.6908% 25.6636%, 18.7207% 25.5348%, 18.7806% 25.378%, 18.8726% 25.1952%, 18.9985% 24.9883%, 19.1601% 24.7593%, 19.359% 24.5105%, 19.5966% 24.2443%, 19.8742% 23.963%, 20.1927% 23.6693%, 20.553% 23.3657%, 20.9558% 23.0549%, 21.4014% 22.7397%, 21.8902% 22.4228%, 22.422% 22.107%, 22.9966% 21.7951%, 23.6138% 21.4898%, 24.2728% 21.1938%, 24.9728% 20.9099%, 25.7127% 20.6406%, 26.4914% 20.3885%, 27.3074% 20.156%, 28.159% 19.9455%, 29.0446% 19.7593%, 29.9621% 19.5993%, 30.9095% 19.4676%, 31.8844% 19.3659%, 32.8846% 19.296%, 33.9075% 19.2591%, 34.9505% 19.2566%, 36.0108% 19.2896%, 37.0858% 19.359%, 38.1726% 19.4655%, 39.2683% 19.6095%, 40.3699% 19.7912%, 41.4747% 20.0109%, 42.5795% 20.2682%, 43.6815% 20.563%, 44.7779% 20.8945%, 45.8657% 21.2621%, 46.9422% 21.6647%, 48.0048% 22.1012%, 49.0507% 22.5703%, 50.0776% 23.0704%, 51.083% 23.5998%, 52.0647% 24.1567%, 53.0206% 24.7391%, 53.9488% 25.3447%, 54.8474% 25.9714%, 55.7148% 26.6166%, 56.5497% 27.278%, 57.3507% 27.9529%, 58.1169% 28.6387%, 58.8474% 29.3327%, 59.5415% 30.0321%, 60.1989% 30.7341%, 60.8193% 31.436%, 61.4027% 32.1349%, 61.9493% 32.8281%, 62.4595% 33.5128%, 62.9339% 34.1865%, 63.3733% 34.8464%, 63.7786% 35.49%, 64.1512% 36.115%, 64.4922% 36.7189%, 64.8032% 37.2997%, 65.086% 37.8551%, 65.3423% 38.3834%, 65.5742% 38.8827%, 65.7836% 39.3516%, 65.9729% 39.7884%, 66.1443% 40.1921%, 66.3001% 40.5616%, 66.4429% 40.8961%, 66.5752% 41.1949%, 66.6995% 41.4576%, 66.8184% 41.684%, 66.9345% 41.8741%, 67.0502% 42.028%, 67.1683% 42.1462%, 67.2912% 42.2294%, 67.4213% 42.2782%, 67.5611% 42.2938%, 67.7128% 42.2774%, 67.8786% 42.2302%, 68.0607% 42.154%, 68.2609% 42.0504%, 68.4812% 41.9214%, 68.7232% 41.7689%, 68.9884% 41.5953%, 69.2782% 41.4026%, 69.5937% 41.1935%, 69.9359% 40.9704%, 70.3057% 40.7358%, 70.7037% 40.4925%, 71.1301% 40.2432%, 71.5853% 39.9905%, 72.0691% 39.7374%, 72.5815% 39.4864%, 73.1218% 39.2405%, 73.6896% 39.0023%, 74.284% 38.7746%, 74.9038% 38.56%, 75.548% 38.361%, 76.2149% 38.1802%, 76.9032% 38.0198%, 77.6109% 37.8822%, 78.3361% 37.7696%, 79.0767% 37.6838%, 79.8304% 37.6268%, 80.595% 37.6002%, 81.3679% 37.6055%, 82.1464% 37.6441%, 82.928% 37.7172%, 83.7098% 37.8256%, 84.4889% 37.9701%, 85.2627% 38.1513%, 86.028% 38.3695%, 86.7821% 38.6248%, 87.5219% 38.9172%, 88.2446% 39.2464%, 88.9472% 39.6118%, 89.6271% 40.0128%, 90.2813% 40.4484%, 90.9073% 40.9176%, 91.5025% 41.4191%, 92.0642% 41.9514%, 92.5903% 42.5128%, 93.0784% 43.1016%, 93.5265% 43.7158%, 93.9326% 44.3532%, 94.2951% 45.0117%, 94.6122% 45.6888%, 94.8827% 46.3822%, 95.1053% 47.0892%, 95.279% 47.8072%, 95.403% 48.5335%, 95.4767% 49.2653%, 95.4998% 50%, 95.4721% 50.7347%, 95.3936% 51.4665%, 95.2646% 52.1928%, 95.0856% 52.9108%, 94.8573% 53.6178%, 94.5805% 54.3112%, 94.2565% 54.9883%, 93.8863% 55.6468%, 93.4716% 56.2842%, 93.014% 56.8984%, 92.5153% 57.4872%, 91.9775% 58.0486%, 91.4027% 58.5809%, 90.7931% 59.0824%, 90.1512% 59.5516%, 89.4795% 59.9872%, 88.7806% 60.3882%, 88.057% 60.7536%, 87.3116% 61.0828%, 86.5471% 61.3752%, 85.7664% 61.6305%, 84.9723% 61.8487%, 84.1677% 62.0299%, 83.3553% 62.1744%, 82.538% 62.2828%, 81.7185% 62.3559%, 80.8996% 62.3945%, 80.0838% 62.3998%, 79.2737% 62.3732%, 78.4717% 62.3162%, 77.6802% 62.2304%, 76.9014% 62.1178%, 76.1372% 61.9802%, 75.3897% 61.8198%, 74.6605% 61.639%, 73.9512% 61.44%, 73.2632% 61.2254%, 72.5978% 60.9977%, 71.9559% 60.7595%, 71.3383% 60.5136%, 70.7458% 60.2626%, 70.1786% 60.0095%, 69.6371% 59.7568%, 69.1212% 59.5075%, 68.6308% 59.2642%, 68.1654% 59.0296%, 67.7245% 58.8065%, 67.3072% 58.5974%, 66.9127% 58.4047%, 66.5397% 58.2311%, 66.187% 58.0786%, 65.8531% 57.9496%, 65.5362% 57.846%, 65.2347% 57.7698%, 64.9466% 57.7226%, 64.6699% 57.7062%, 64.4024% 57.7218%, 64.1418% 57.7706%, 63.886% 57.8538%, 63.6324% 57.972%, 63.3787% 58.1259%, 63.1224% 58.316%, 62.8609% 58.5424%, 62.5919% 58.8051%, 62.3128% 59.1039%, 62.0212% 59.4384%, 61.7146% 59.8079%, 61.3908% 60.2116%, 61.0474% 60.6484%, 60.6823% 61.1173%, 60.2934% 61.6166%, 59.8786% 62.1449%, 59.4363% 62.7003%, 58.9647% 63.2811%, 58.4622% 63.885%, 57.9274% 64.51%, 57.3592% 65.1536%, 56.7566% 65.8135%, 56.1186% 66.4872%, 55.4447% 67.1719%, 54.7344% 67.8651%, 53.9875% 68.564%, 53.204% 69.2659%, 52.384% 69.9679%, 51.5279% 70.6673%, 50.6364% 71.3613%, 49.7103% 72.0471%, 48.7505% 72.722%, 47.7584% 73.3834%, 46.7354% 74.0286%, 45.683% 74.6553%, 44.6032% 75.2609%, 43.4977% 75.8433%, 42.3689% 76.4002%, 41.2191% 76.9296%, 40.0505% 77.4297%, 38.866% 77.8988%, 37.6681% 78.3353%, 36.4596% 78.7379%, 35.2436% 79.1055%, 34.0229% 79.437%, 32.8006% 79.7318%, 31.5798% 79.9891%, 30.3637% 80.2088%, 29.1554% 80.3905%, 27.958% 80.5345%, 26.7746% 80.641%, 25.6084% 80.7104%, 24.4625% 80.7434%, 23.3397% 80.7409%, 22.2431% 80.704%, 21.1754% 80.6341%, 20.1394% 80.5324%, 19.1377% 80.4007%, 18.1727% 80.2407%, 17.2467% 80.0545%, 16.3619% 79.844%, 15.5203% 79.6115%, 14.7237% 79.3594%, 13.9738% 79.0901%, 13.2719% 78.8062%, 12.6193% 78.5102%, 12.0171% 78.2049%, 11.466% 77.893%, 10.9666% 77.5772%, 10.5194% 77.2603%, 10.1245% 76.9451%, 9.78196% 76.6343%, 9.4914% 76.3307%, 9.25241% 76.037%, 9.06431% 75.7557%, 8.92623% 75.4895%, 8.8371% 75.2407%, 8.79565% 75.0117%, 8.80046% 74.8048%, 8.8499% 74.622%, 8.94221% 74.4652%, 9.07547% 74.3364%, 9.24762% 74.237%, 9.45647% 74.1686%, 9.69973% 74.1325%, 9.97501% 74.1296%, 10.2798% 74.161%, 10.6116% 74.2272%, 10.9678% 74.3289%, 11.3458% 74.4661%, 11.7428% 74.6391%, 12.1563% 74.8477%, 12.5835% 75.0914%, 13.0219% 75.3698%, 13.4688% 75.6821%, 13.9217% 76.0273%, 14.3781% 76.4042%, 14.8357% 76.8116%, 15.2921% 77.2478%, 15.7452% 77.7112%, 16.1929% 78.2%, 16.6333% 78.712%, 17.0646% 79.2453%, 17.4852% 79.7974%, 17.8936% 80.366%, 18.2887% 80.9486%, 18.6691% 81.5426%, 19.0342% 82.1454%, 19.383% 82.7543%, 19.7152% 83.3664%, 20.0303% 83.9791%, 20.3282% 84.5895%, 20.609% 85.1949%, 20.8729% 85.7924%, 21.1205% 86.3795%, 21.3523% 86.9533%, 21.5692% 87.5113%, 21.7722% 88.051%, 21.9625% 88.5699%, 22.1414% 89.0657%, 22.3105% 89.5362%, 22.4714% 89.9794%, 22.626% 90.3934%, 22.7761% 90.7764%, 22.9239% 91.1268%, 23.0714% 91.4432%, 23.2209% 91.7244%, 23.3747% 91.9694%, 23.5352% 92.1773%, 23.7048% 92.3475%, 23.8858% 92.4796%, 24.0809% 92.5734%, 24.2924% 92.6288%, 24.5227% 92.6461%, 24.7742% 92.6258%, 25.0494% 92.5683%, 25.3504% 92.4745%, 25.6796% 92.3455%, 26.0389% 92.1825%, 26.4304% 91.9868%, 26.8559% 91.7601%, 27.3173% 91.5041%, 27.8162% 91.2206%, 28.3538% 90.9118%, 28.9316% 90.5798%, 29.5506% 90.227%, 30.2118% 89.8557%, 30.9157% 89.4685%, 31.663% 89.0679%, 32.454% 88.6567%, 33.2887% 88.2376%, 34.1671% 87.8132%, 35.0887% 87.3865%, 36.0531% 86.9601%, 37.0595% 86.5368%, 38.1069% 86.1195%, 39.194% 85.7107%, 40.3196% 85.3131%, 41.482% 84.9294%, 42.6793% 84.5619%, 43.9097% 84.2131%, 45.171% 83.8853%, 46.4608% 83.5805%, 47.7766% 83.3009%, 49.1158% 83.0482%, 50.4755% 82.8241%, 51.853% 82.6302%, 53.2452% 82.4678%, 54.6489% 82.338%, 56.061% 82.2418%, 57.4782% 82.18%, 58.8972% 82.1531%, 60.3147% 82.1615%, 61.7273% 82.2053%, 63.1317% 82.2844%, 64.5244% 82.3986%, 65.9022% 82.5473%, 67.2618% 82.7299%, 68.6% 82.9455%, 69.9137% 83.193%, 71.1998% 83.4711%, 72.4553% 83.7783%, 73.6775% 84.1131%, 74.8637% 84.4735%, 76.0113% 84.8577%, 77.118% 85.2635%, 78.1815% 85.6887%, 79.1998% 86.131%, 80.1711% 86.5879%, 81.0937% 87.0569%, 81.9662% 87.5353%, 82.7874% 88.0205%, 83.5561% 88.5096%, 84.2716% 89%, 84.9333% 89.4889%, 85.5408% 89.9734%, 86.094% 90.4508%, 86.5928% 90.9185%, 87.0376% 91.3736%, 87.4289% 91.8135%, 87.7673% 92.2358%, 88.0538% 92.638%, 88.2893% 93.0177%, 88.4752% 93.3726%, 88.6129% 93.7007%, 88.704% 94.0001%, 88.7503% 94.2688%, 88.7536% 94.5054%, 88.716% 94.7083%, 88.6396% 94.8762%, 88.5267% 95.0081%, 88.3796% 95.1031%, 88.2007% 95.1604%, 87.9925% 95.1796%, 87.7575% 95.1605%, 87.4983% 95.1029%, 87.2174% 95.0069%, 86.9173% 94.873%, 86.6007% 94.7017%, 86.2699% 94.4938%, 85.9275% 94.2501%, 85.5758% 93.9719%, 85.2171% 93.6606%, 84.8537% 93.3175%, 84.4877% 92.9445%, 84.1211% 92.5434%, 83.7557% 92.1162%, 83.3934% 91.665%, 83.0356% 91.1922%, 82.6838% 90.7%, 82.3393% 90.191%, 82.0031% 89.6678%, 81.6762% 89.133%, 81.3593% 88.5894%, 81.053% 88.0396%, 80.7575% 87.4865%, 80.473% 86.9329%, 80.1996% 86.3814%, 79.937% 85.835%, 79.6847% 85.2962%, 79.4423% 84.7678%, 79.2088% 84.2524%, 78.9834% 83.7526%, 78.765% 83.2706%, 78.5522% 82.8089%, 78.3437% 82.3696%, 78.1379% 81.9548%, 77.933% 81.5664%, 77.7273% 81.2062%, 77.5188% 80.8757%, 77.3055% 80.5764%, 77.0853% 80.3094%, 76.8561% 80.0758%, 76.6155% 79.8764%, 76.3615% 79.7119%, 76.0915% 79.5826%, 75.8035% 79.4889%, 75.4951% 79.4306%, 75.164% 79.4076%, 74.808% 79.4194%, 74.425% 79.4655%, 74.0128% 79.5451%, 73.5696% 79.657%, 73.0932% 79.8001%, 72.5821% 79.973%, 72.0344% 80.1742%, 71.4487% 80.4018%, 70.8235% 80.654%, 70.1578% 80.9286%, 69.4503% 81.2237%, 68.7003% 81.5368%, 67.9071% 81.8654%, 67.0702% 82.2072%, 66.1894% 82.5595%, 65.2645% 82.9196%, 64.2958% 83.2848%, 63.2835% 83.6524%, 62.2283% 84.0196%, 61.131% 84.3836%, 59.9926% 84.7417%, 58.8144% 85.091%, 57.5977% 85.429%, 56.3442% 85.7529%, 55.0558% 86.0602%, 53.7346% 86.3484%, 52.3827% 86.6151%, 51.0026% 86.8581%, 49.5969% 87.0752%, 48.1683% 87.2645%, 46.7198% 87.424%, 45.2543% 87.5521%, 43.7749% 87.6472%, 42.2851% 87.7081%, 40.788% 87.7335%, 39.2872% 87.7226%, 37.7861% 87.6746%, 36.2883% 87.5889%, 34.7973% 87.4651%, 33.3168% 87.3032%, 31.8502% 87.1032%, 30.4012% 86.8655%, 28.9733% 86.5904%, 27.5699% 86.2788%, 26.1945% 85.9314%, 24.8505% 85.5494%, 23.5409% 85.1341%, 22.269% 84.687%, 21.0377% 84.2096%, 19.8499% 83.7039%, 18.7082% 83.1717%, 17.6152% 82.6152%, 16.5733% 82.0366%, 15.5846% 81.4382%, 14.6511% 80.8226%, 13.7745% 80.1922%, 12.9564% 79.5498%, 12.1982% 78.898%, 11.5009% 78.2395%, 10.8655% 77.5772%, 10.2926% 76.9137%, 9.78272% 76.252%, 9.33597% 75.5947%, 8.95239% 74.9447%, 8.63173% 74.3045%, 8.37353% 73.6769%, 8.1771% 73.0644%, 8.04158% 72.4695%, 7.96585% 71.8945%, 7.94865% 71.3416%, 7.98849% 70.813%, 8.08373% 70.3106%, 8.23255% 69.8363%, 8.43299% 69.3917%, 8.68294% 68.9782%, 8.98015% 68.5971%, 9.32229% 68.2496%, 9.70689% 67.9365%, 10.1314% 67.6585%, 10.5933% 67.4162%, 11.0898% 67.2098%, 11.6182% 67.0394%, 12.1759% 66.9048%, 12.76% 66.8058%, 13.3679% 66.7418%, 13.9969% 66.7119%, 14.6442% 66.7154%, 15.3073% 66.7509%, 15.9836% 66.8173%, 16.6707% 66.9129%, 17.366% 67.0361%, 18.0675% 67.1851%, 18.7729% 67.3578%, 19.4802% 67.5522%, 20.1874% 67.7658%, 20.893% 67.9965%, 21.5952% 68.2416%, 22.2927% 68.4987%, 22.9842% 68.765%, 23.6686% 69.0379%, 24.3451% 69.3147%, 25.0129% 69.5926%, 25.6714% 69.8687%, 26.3204% 70.1404%, 26.9597% 70.4049%, 27.5892% 70.6594%, 28.2092% 70.9014%, 28.8201% 71.1282%, 29.4222% 71.3372%, 30.0165% 71.5262%, 30.6037% 71.6928%, 31.1848% 71.8348%, 31.7609% 71.9501%, 32.3333% 72.037%, 32.9035% 72.0935%, 33.4728% 72.1182%, 34.0428% 72.1097%, 34.6152% 72.0667%, 35.1918% 71.9883%, 35.7742% 71.8736%, 36.3644% 71.722%, 36.9641% 71.5332%, 37.5751% 71.3068%, 38.1994% 71.0429%, 38.8386% 70.7417%, 39.4946% 70.4037%, 40.1692% 70.0295%, 40.8638% 69.6199%, 41.5802% 69.176%, 42.3198% 68.6989%, 43.0839% 68.1901%, 43.8738% 67.6513%, 44.6907% 67.084%, 45.5354% 66.4903%, 46.4089% 65.8723%, 47.3116% 65.232%, 48.2442% 64.5719%, 49.2069% 63.8943%, 50.1998% 63.2019%, 51.2228% 62.4971%, 52.2756% 61.7828%, 53.3578% 61.0615%, 54.4687% 60.3362%, 55.6072% 59.6095%, 56.7724% 58.8842%, 57.9629% 58.1633%, 59.1773% 57.4493%, 60.4137% 56.745%, 61.6703% 56.0531%, 62.945% 55.3762%, 64.2355% 54.7167%, 65.5394% 54.0771%, 66.854% 53.4596%, 68.1767% 52.8664%, 69.5044% 52.2995%, 70.8342% 51.7608%, 72.1629% 51.252%, 73.4873% 50.7745%, 74.8039% 50.3298%, 76.1095% 49.9191%, 77.4004% 49.5432%, 78.6732% 49.203%, 79.9243% 48.899%, 81.1502% 48.6315%, 82.3473% 48.4008%, 83.5121% 48.2068%, 84.6411% 48.0492%, 85.7308% 47.9274%, 86.7779% 47.841%, 87.779% 47.7888%, 88.7311% 47.77%, 89.6311% 47.7832%, 90.476% 47.8269%, 91.2631% 47.8995%, 91.9898% 47.9993%, 92.6536% 48.1242%, 93.2523% 48.2723%, 93.7838% 48.4412%, 94.2463% 48.6287%, 94.6381% 48.8322%, 94.958% 49.0493%, 95.2046% 49.2773%, 95.377% 49.5136%, 95.4746% 49.7554%); 
  box-shadow: 16.6px 23.1px 13.1px rgba(42, 45, 33, 0.3);
}

.about-text {
  font-size: 1em;
  margin-top: 26vw;
}

.prg {
  font-size: 1rem;
}

.name {
  font-size: 1rem;
}

.prg:hover {
  transform: scale(1.5);
}
.see-more{
  background: none;
  border: none;
  text-decoration: underline;
  color: rgb(202, 238, 164);
  margin-top: 1.9em;
  padding-bottom: 2em;
  font-size: 1.3em;
}
@media (max-width: 1200px) {
  .about {
    padding: 23px;
    width: 100%;
    margin-top: 10em;
    margin-left: 4em;
  }

  .about-text {
    font-size: 1.3em;
    margin-top: 20em;
  }

  .prg {
    font-size: 2em;
  }

  .info {
    margin: 4em -4em 0.3em;
  }

  .skills {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 33px;
    width: 23em;
    margin-top: 15em;
    margin-left: 1em;
    width: 76%;
  }
  .bio{
    margin-left: 1em;
    padding: 1em;
  }
  .about-text {
    font-size: 1em;
    margin-top: 25em;
    margin-right:4em;
  }

  .prg {
    font-size: 1em;
  }

  .info {
    margin: 4em -4em 0.3em;
  }

  .skills {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 23px;
    width: 100%;
    margin-top: -8em;
    margin-left: 2em;
  }
  .bio{
    margin: 5em 1em;
  }
  .about-text{
    font-size: 1em;
    margin-top: 45em; 
    
  }
  #photo{
    margin: -11em 2em;
    width: 7em;
  }
  .shape{
    margin: -17em 0.7em;
    width: 15em;
    height: 15em;
  }
  .prg {
    font-size: 1em;
  }

  .info {
    margin: 4em -4em 0.3em;
  }

  .skills {
    font-size: 1em;
  }
}

@media (max-width: 576px) and (min-width: 374px) {
  .about {
    padding: 23px;
    width: 80%;
    margin-top: 14em;
    margin-left: 2em;
  }
  .bio{
    float: left;
    margin: -4em 4em;
    font-size: 2em;
  }
  
  .prg {
    font-size: 1em;
    margin-top: 3em;
  }
  .about-text{
    width: 100%;
    font-size: 1em;
    margin-top: 1em;
  }
  #photo{
    margin: -8em 4em;
    width: 6em;
  }
  .shape{
    margin: -10em 5em;
    width: 10em;
    height: 12em;
  }
  .prg {
    font-size: 1em;
  }

  .info {
    margin: 4em -6em 0.3em;
  }

  .skills {
    font-size: 1em;
    
  }
}
@media screen and (max-width: 320px) {
  .about {
    margin-top: 5vw;
    padding: 1.5em;
    box-shadow: 8.3px 11.55px 6.55px rgba(42, 45, 33, 0.3);
    border-radius: 8px;
  }

  .bio {
    margin-left: 1.3em;
    font-size: 1.5em;
  }

  #photo {
    width: 20vw;
    margin-right: 30vw;
    margin-top: -16vw;
  }

  .shape {
    margin-top: -22vw;
    margin-right: 22vw;
    width: 40vw;
    height: 32vw;
  }
  .about-text{
    width: 100%;
    font-size: 1em;
    margin-top: 1em;
  }
}
