.mb-3 {
  margin-top: 1.5rem;
  padding: 5%;
  font-size: 2em;
}

.send {
  height: 3.5em;
  width: 20%;
  margin-bottom: 4em;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: rgb(54, 58, 87);
  color: white;
  border: 3px solid #cef850;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Source Code Pro', monospace;
}

.send:hover {
  color: rgb(195, 223, 165);
  border: 3px solid #cef850;
  background-color: rgb(54, 58, 87);
  transform: scale(1.1);
}

.contact {
  display: grid;
  font-size: 1rem;
  place-items: center;
  padding: 1em;
  margin: 10% auto;
  width: 50%;
  height: 80vh;
  background: url('../img/pngegg.png') no-repeat center;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .send {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .mb-3 {
    padding: 10%;
  }
  .send {
    width: 50%;
    margin-bottom: 3em;
  }
  .contact {
    margin-left:4em;
    margin-top: 15%;
    width: 64%;
    height: 66%;
  }
}

@media (max-width: 576px) {
  .mb-3 {
    font-size: 1.5em;
  }
  .send {
    width: 60%;
    margin-bottom: 2em;
  }
  .contact {
    margin-top: 20%;
    width: 97%;
    height: 90%;
    margin-left: 1em;
  }
}
@media (max-width:480px) {
  .contact{
    width: 70%;
  }
  .send{
    width: 40%;
  }
  
}
@media (max-width: 320px) {
  .mb-3 {
    font-size: 1.2em;
  }
  .send {
    width: 95%;
    margin-bottom: 1.5em;
  }
  .contact {
    margin-top: 25%;
    width: 95%;
  }
}
