
.text-center{
    padding: 13px;
    margin-top: 40px;
    /* background-color: #3e465f ; */
    color: #d1ea29;
}

.logo{
    width: 42px;
    height: 43px;
    margin-right: 12px;
    border-radius: 12px;
}
@media (max-width: 768px){
    .text-center{
        width: 87%;
        margin-left: -0.5em;
    }
    .p-4{
        margin-right: 2em;
       
    }
}

@media (max-width: 576px) and (min-width: 374px) {
    .text-center{
        width: 87%;
        margin-left: -0.5em;
    }
    .p-4{
        margin-right: 2em;
       
    }
    
}
@media (max-width: 480px) {
    .text-center{
        
        margin-left: 1em;
    }
}
@media (max-width:320px) {
    .text-center{
        margin-left: 0.2em;
        width: 90%;
    }
}