.hero-content {
  display: grid;
  place-items: center;
  margin-top: 20vw;
  padding: 4vw;
  font-size: 2.7vw;
  width: 100vw;
  height: auto;
}

.top-img {
  margin: -10em;
  width: 70vw;
  transform: rotate(17deg);
  z-index: 0;
  transition: transform 0.3s ease;
}

.one,
.two {
  margin-top: -6em;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 3vw;
  color: #d1ea29;
}

.one {
  animation: animated-text 4s steps(16) 1s 1 normal both, animated-cursor 500ms steps(16) infinite normal;
  z-index: 1;
}

.two {
  animation: animated-text1 4s steps(16) 5s 1 normal both, animated-cursor 500ms steps(16) infinite normal;
  font-size: 2vw;
  margin-bottom: -3vw;
}

.me {
  width: 35em;
  margin: -2em auto 0;
  font-size: 1.7em;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 51vw;
  }
}

@keyframes animated-text1 {
  from {
    width: 0;
  }
  to {
    width: 27vw;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.7);
  }
  to {
    border-right-color: transparent;
  }
}

.hero-button {
  margin-top: 1vw;
}

.button {
  position: relative;
  margin-bottom: -20em;
  height: 4vw;
  width: 10vw;
  padding: 0.3vw;
  border-radius: 1rem;
  background-color: rgb(54, 58, 87);
  box-shadow: 16.6px 23.1px 13.1px rgba(42, 45, 33, 0.3);
  color: #d1ea29;
  border: 3px solid #cef850;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
  z-index: 1;
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
}

.button:hover {
  color: rgb(195, 223, 165);
  border: 3px solid #cef850;
  background-color: rgb(54, 58, 87);
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

a:hover {
  color: #cef850;
}

@media (max-width: 768px) {
  .hero-content {
    margin-top: 20vw;
    font-size: 2.3vw;
  }
  .top-img {
    margin-top: 1em;
    width: 100%;
  }
  .top-img {
    margin: -10em;
  }
  .one {
    font-size: 3.4vw;
    bottom:8em;
  }
  .two {
    font-size: 2.4vw;
    bottom: 11em;
  }
  .me {
    width: 70%;
    font-size: 1em;
    color: rgb(250, 241, 241);
    margin-top: -232px;
    text-shadow: 1px 1px 2px rgb(3, 3, 3), 0 0 25px rgb(33, 33, 221), 0 0 5px rgb(65, 65, 106);
  }
  .button {
    height: 7vw;
    width: 20vw;
    font-size: 0.8em;
    margin-top: -352px;
  }
}

@media (max-width: 576px) {
  .hero-content {
    margin-top: 26vw;
    font-size: 1.5vw;
  }
  .top-img {
    width: 100%;
    
  }
  .top-img {
    margin: -7em;
  }
  .one {
    font-size: 3.4vw;
    bottom:12em;
  }
  .two {
    font-size: 2.3vw;
    bottom: 17em;
  }
  .me {
    width: 90%;
    font-size: 0.8em;
  }
  .button {
    height: 7vw;
    width: 20vw;
    font-size: 0.8em;
    left: 2em;
    bottom: 1em;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .hero-content {
    margin-top: 12vw;
    font-size: 2vw;
  }
  .top-img {
    width: 100%;
    
    margin: -7em 12em;
  }
  .one {
    font-size: 4vw;
    margin-left: 0.5em;
    bottom:7em;

  }
  .two {
    font-size: 3.5vw;
    margin-left: 1em;
    bottom: 7em;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 90vw;
    }
  }
  
  @keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 57vw;
    }
  }
  .me {
    width: 70%;
    font-size: 1.2em;
    margin-left: 8em;
    margin-top: -24em;
  }
  .button {
    height: 5vw;
    width: 12vw;
    font-size: 1em;
    margin-left: 3em;
    bottom:14em;
  }
}

@media (max-width: 480px) {
  .hero-content {
    margin-top: 14vw;
    font-size: 3vw;
  }
  .top-img {
    width:175vw;
    margin: 3em -5em;
  }
  .one{
    font-size: 6vw;
    margin-left: 0.5em;
    margin-top: -14em;
  }
  .two {
    font-size: 4vw;
    margin-left: -4em;
    margin-top: -18em;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 98vw;
    }
  }
  
  @keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 57vw;
    }
  }
  .me {
    width: 99%;
    font-size: 1em;
    margin-left: 2em;
    margin-top: -19em;
  }
  .button {
    height: 10vw;
    width: 40vw;
    font-size: 1em;
    margin-left: -5em;
  }
}
