.projects{
    margin-top: 14em;
    margin-bottom: -6em;
    padding: 40px;
    font-size: 2em;
}
.card {
    position: relative;
    overflow: hidden;
    margin-top: 220px;
    margin-right: -4px;
    margin-left: 6px;
    background: url('../img/pngegg.png')no-repeat center; 
    box-shadow: 16.6px 23.1px 13.1px rgba(42, 45, 33, 0.3);
    color: rgb(195, 223, 165);
  }
  
  .card .bg-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 66.25%; /* 16:9 aspect ratio */
  }
  .card .bg-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set the width to 100% for all images */
    height: 100%; /* Set the height to 100% for all images */
    object-fit: cover;
  }
  .card .bg-image video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-top: 0.5rem;
  }
  
  .btn.button-p {
    width: 6vw;
    padding: 8px;
    margin: 3px;
    border-radius: 50px;
    background-color: rgb(54, 58, 87);
    color: white;
    border: 2px solid #cef850;
    display: inline-flex;
    justify-content: center;

    align-items: center;
    transition: transform 0.3s, opacity 0.3s ease-in-out; 
  }
  
  .btn.button-p:hover {
    transform: scale(1.2);
    /* color: rgb(54, 14, 155); */
    border: 2px solid #cef850;
    /* background-color: #cef850 */
  }
  .more{
    font-size: 0.6em;
    margin-top: 160px;
    border-radius: 12px;
    box-shadow: 16.6px 23.1px 13.1px rgba(42, 45, 33, 0.3);
    background-color: rgb(54, 58, 87);
    color: white !important;
    border: 3px solid #cef850;
    padding: 1em;
  }
  .more:hover{
    transform: scale(1.1);
  }

  @media (max-width: 768px){
  .btn.button-p{
    border: none;
    background: none;
    padding: 22px;
    
  }
  }
  @media (max-width: 576px) and (min-width: 374px) {
    .projects{
      margin: 22em 6em -1em -3em;
      font-size: 1.2em;
    }
    .card{
      margin-top: 2em;
      width: 30em;
      margin-left: 2em;
      width: 60%;
    }
    .card-text{
      font-size: 1em;
    }
    .more{
      margin: 10em 20em 1em 9em;
      width: 20em;
      font-size: 0.7em;
    }
    .btn.button-p{
      border: none;
      background: none;
      padding: 22px;
      
    }
  }
  @media (max-width: 320px){
    .projects{
      margin-top:7em;
    }
    .btn.button-p{
      border: none;
      background: none;
      padding: 22px;
      
    }
  }
